.root {
  display: flex;
  padding: theme('spacing.4');
  margin: theme('spacing.2');
  background-color: theme('colors.accents.1');
  border: 1px solid theme('colors.accents.2');
}

.header-a {
  margin-bottom: theme('spacing.8');
}

.variant-b {
  background-color: theme('colors.accents.2');
  border: 1px solid theme('colors.accents.3');
}

.variant-c {
  background-color: theme('colors.cyan.light');
  border: 1px solid theme('colors.cyan.DEFAULT');
}
