# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

# Solutions Eng and Dev Rel are the default owners of everything
* @okbel @lfades @goncy @dominiksipowicz @leerob @steven-tey @lpalmes

# For examples that are a Monorepo we add the Turbo team and some members
# from Solutions and Dev Rel
solutions/monorepo @vercel/turbo-oss @goncy @lfades @leerob @steven-tey @lpalmes
solutions/microfrontends @vercel/turbo-oss @goncy @lfades @leerob @steven-tey @lpalmes
solutions/testing @vercel/turbo-oss @goncy @lfades @leerob @steven-tey @lpalmes

# For the build output API the engineering team takes care of it.
# A member of Solutions and Dev Rel is also added
build-output-api @tootallnate @styfle @EndangeredMassa @lfades @leerob @steven-tey @lpalmes
