# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Ignore the dependency locks of all examples
package-lock.json
yarn.lock
pnpm-lock.yaml
# include lockfile for turbo
!/solutions/monorepo/pnpm-lock.yaml
!/solutions/testing/pnpm-lock.yaml

# Misc
.DS_Store
*.pem

# Debug
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Local ENV files
/.env*.local

# Repo scripts
scripts/dist