# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/packages/ui/node_modules

# Ignore the dependency locks of all examples
package-lock.json
yarn.lock
!/package-lock.lock

# Misc
.DS_Store
*.pem

# Debug
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Local ENV files
.env*.local
