node_modules
.next
.vercel
public
dist

# Ignore dependency locks
pnpm-lock.yaml
package-lock.json
yarn.lock

# Self-contained pnpm workspaces with their own prettier/style-guide versions
microfrontends/single-spa
microfrontends/nextjs-multi-zones
framework-boilerplates/hydrogen
framework-boilerplates/hydrogen-2