@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--accents-0);
  overscroll-behavior-x: none;
}

li {
  list-style: none;
}
