.gradient-wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  filter: blur(var(--gradient-blur-radius, 100px));
  user-select: none;
  pointer-events: none;
}

.gradient {
  position: absolute;
  border-radius: 100%;
  background: var(--color);
  opacity: var(--light-opacity);
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

:global(.dark-theme) .gradient {
  opacity: var(--dark-opacity);
}

/* Large circle on the top right */
.gradient-1 {
  width: 900px;
  height: 900px;
  z-index: -2;
  left: 80%;
  top: 20%;
  animation-duration: 11s;
  animation-name: gradient-1;
}

@keyframes gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

/* Medium circle on the bottom left */
.gradient-2 {
  width: 800px;
  height: 800px;
  z-index: -1;
  left: 70%;
  top: 90%;
  animation-duration: 11s;
  animation-name: gradient-2;
  animation-direction: reverse;
}

@keyframes gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

/* Small circle on the center */
.gradient-3 {
  width: 500px;
  height: 500px;
  z-index: -3;
  left: 60%;
  top: 80%;
  animation-duration: 11s;
  animation-name: gradient-3;
}

@keyframes gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }

  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }

  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }

  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }

  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}
