.gradient {
  background-size: 700%;

  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.blink {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.blink::after {
  content: '';
  display: inline-block;
  vertical-align: top;
  margin-left: 0.25em;
  width: 10px;
  height: 28px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

.reveal {
  animation: reveal 7s ease 0s 1 normal forwards;
}

.fade {
  animation: fade 4s ease 0s 1 normal;
}

.gradual {
  animation: gradual 4s ease 0s 1 normal forwards;
}

@keyframes Gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  75% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }

  100% {
    opacity: 0;
  }
}

@keyframes gradual {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
