.container {
  padding: 4rem 1rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.container p {
  margin: 1.5rem 0;
}

.container h1,
.container h2,
.container h3 {
  font-weight: 500;
}

.container a {
  color: #0074de;
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

.container a > .inlineCode {
  color: #0074de;
  transition: color 0.2s ease 0s;
}

.container a:hover,
.container a:hover > .inlineCode {
  color: #68b5fb;
}

.container ul {
  list-style: none;
  padding-left: 1.5rem;
  padding-left: 1.5rem;
}

.container ul li::before {
  content: '-';
  color: #999;
  position: absolute;
  margin-left: -1rem;
}

.container hr {
  border: 0;
  border-top: 1px solid #eaeaea;
  margin: 1.5rem 0;
}

.card {
  max-width: 50rem;
  box-shadow: -10px 10px 80px rgba(0, 0, 0, 0.12);
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 2rem;
  margin: 0 auto;
}

.inlineCode {
  color: #be00ff;
  font-size: 16px;
  white-space: pre-wrap;
}

.inlineCode::before,
.inlineCode::after {
  content: '`';
}

.button {
  color: #fff;
  background: #000;
  height: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover {
  color: #000;
  background-color: #fff;
}
