.root {
  font-family: inherit;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  padding: 0 14px;
  border-radius: 7px;
  border: 1px solid #0761d1;
  color: #fff;
  background-color: #0070f3;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 5px 10px rgb(0 68 255 / 12%);
  vertical-align: middle;
  white-space: nowrap;
  line-height: 40px;
  height: 40px;
  transition: border 0.2s ease 0s, color 0.2s ease 0s, background 0.2s ease;
}

.root:hover {
  background: rgba(0, 118, 255, 0.9);
  color: #fff;
}

.secondary {
  @apply border-accents-2 border bg-white text-accents-5;
  box-shadow: none;
}

.secondary:hover {
  box-shadow: none;
  @apply border-accents-9 bg-white text-accents-9;
}

.ghost {
  color: #0070f3;
  background: transparent;
  border: none;
  box-shadow: none;
}

.ghost:hover {
  background: rgba(0, 68, 255, 0.06);
  color: #0070f3;
}

.black {
  background-color: #000;
  color: white;
  border-color: black;
}

.black:hover {
  background-color: rgb(32, 32, 32);
  color: white;
}

.white {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.white:hover {
  background-color: #f5f5f5;
  color: #000;
  border-color: #fff;
}

.violet {
  background-color: #7928ca;
  color: white;
  border-color: #4c2889;
}

.violet:hover {
  background-color: #7123be;
  color: white;
}

.sm {
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  min-width: auto;
  height: 32px;
  line-height: 0;
  font-size: 0.875rem;
  padding: 6px 12px 6px 12px;
}

.md {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}

.lg {
  height: 48px;
  line-height: 48px;
  font-size: 17px;
}

.loading {
  @apply bg-accents-1 text-accents-3 border-accents-2 cursor-not-allowed;
}
