# dependencies
node_modules
/.pnp
.pnp.js

# vite
dist/
.vite/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env files
.env
.env*.local

# ruby
.bundle
vendor/bundle

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo

# lockfiles (generated per-machine)
package-lock.json
