/* Minimal Implementation of Geist */
:root {
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;
  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #e3d7fc;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --geist-selection: var(--geist-cyan-light);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --geist-link-color: var(--geist-success);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-highlight-purple);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0, 0%, 100%, 0);
  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0, 0, 0, 0.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --geist-radius: 5px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--geist-background);
  color: var(--geist-foreground);
  font-family: var(--font-sans);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 0px;
}

input {
  padding: 4px 12px;
  transition: border 0.2s ease 0s, color 0.2s ease 0s;
  background-color: var(--geist-background);
  border-radius: 5px;
  border: 1px solid var(--accents-2);
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 26px;
  outline: 0px;
  width: 100%;
  color: var(--geist-foreground);
  caret-color: var(--geist-foreground);
  text-overflow: ellipsis;
  appearance: none;
}

input:focus,
input:active {
  border: 1px solid var(--accents-5);
}

button {
  font-family: var(--font-sans);
  border-radius: var(--geist-radius);
  color: var(--geist-background);
  background: var(--geist-success);
  border: 1px solid var(--geist-success);
  font-weight: 500;
  padding: 0 12px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color, background, color, transform, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  white-space: nowrap;
}

button:hover {
  box-shadow: none;
  background: transparent;
  color: var(--geist-success);
  cursor: pointer;
}

.form-box {
  display: flex;
}
