@import './base.css';
/**
  * We use this instead of `@tailwind base` because we didn't find a way
  * of overriting the backgound-color added to buttons.
  *
  * https://github.com/tailwindlabs/tailwindcss/issues/6602
  */
@import './tailwind-base.css';

@tailwind components;
@tailwind utilities;

/**
 * Chrome has a bug with transitions on load since 2012!
 *
 * To prevent a "pop" of content, you have to disable all transitions until
 * the page is done loading.
 *
 * https://lab.laukstein.com/bug/input
 * https://twitter.com/timer150/status/1345217126680899584
 */
body.loading * {
  transition: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--accents-0);
  overscroll-behavior-x: none;
}

li {
  list-style: none;
}
