.root {
  color: var(--geist-link-color);
  text-decoration: none;
  transition: color 0.2s ease 0s;
}

.root > .inlineCode {
  color: var(--geist-link-color);
  transition: color 0.2s ease 0s;
}

.root:hover,
.root:hover > .inlineCode {
  color: var(--geist-link-color-light);
}
