.root {
  @apply border-b border-gray-200 py-5 relative z-20 bg-white;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}

.container {
  @apply mx-auto max-w-7xl px-14;
}

.link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: var(--accents-4);
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--accents-8);
  cursor: pointer;
}
