NEXT_PUBLIC_DRIPVERSE_PROJECT_KEY=efe8c50ca1f70009524ed8cbdb187c602322dd65
NEXT_PUBLIC_NFT_STORAGE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweGQyRDZEYjkyYTA5NzRjOGFDMUQ4Yzc4MTU0MWI5ZjgxMUUwOTQ1OEQiLCJpc3MiOiJuZnQtc3RvcmFnZSIsImlhdCI6MTY4NDE1NjgzMDUyNSwibmFtZSI6ImRyaXB2ZXJzZS12ZXJjZWwtZXhhbXBsZSJ9.blbAKflhUopgH4DJQ3A1VB8tnHNMK_k4KzEVejMXlEM