.root {
  box-shadow: 0 5px 10px rgb(0 68 255 / 12%);
  line-height: 40px;
  height: 40px;
  transition: border 0.2s ease 0s, color 0.2s ease 0s, background 0.2s ease;
}

.root:hover {
  background-color: rgb(32, 32, 32);
  color: #fff;
}
