@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --swiper-theme-color: rgba(51, 91, 241, 1) !important;
  --swiper-navigation-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel-root .carousel.carousel-slider .control-arrow {
  background-color: rgba(0, 0, 0, 0.075);
  opacity: 1;
}

.swiper {
  padding-bottom: 2rem !important;
}

@media only screen and (max-width: 640px) {
  .swiper-pagination {
    display: none;
  }
}
