.menu {
  .menu-backdrop {
    display: none;
  }
}

.menu-active {
  .menu-backdrop {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color: #000;
    opacity: 0.5;
  }

  .menu-data {
    z-index: 100;
  }
}
