:root,
::before,
::after {
  --blue: #2882ef;
  --lightblue: #2882ef;
  --violet: #8524c3;
  --rosa: #f02888;
  --yellow: #f9c32a;
  --orange: ##f97449;

  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  --geist-success-lighter: #d3e5ff;
  --geist-success-light: #3291ff;
  --geist-success: #0070f3;
  --geist-success-dark: #0761d1;

  --geist-error-lighter: #f7d4d6;
  --geist-error-light: #ff1a1a;
  --geist-error: #e00;
  --geist-error-dark: #c50000;
  --geist-warning-lighter: #ffefcf;
  --geist-warning-light: #f7b955;
  --geist-warning: #f5a623;
  --geist-warning-dark: #ab570a;
  --geist-violet-lighter: #e3d7fc;
  --geist-violet-light: #8a63d2;
  --geist-violet: #7928ca;
  --geist-violet-dark: #4c2889;
  --geist-cyan-lighter: #aaffec;
  --geist-cyan-light: #79ffe1;
  --geist-cyan: #50e3c2;
  --geist-cyan-dark: #29bc9b;
  --geist-highlight-purple: #f81ce5;
  --geist-highlight-magenta: #eb367f;
  --geist-highlight-pink: #ff0080;
  --geist-highlight-yellow: #fff500;
  --geist-foreground: #000;
  --geist-background: #fff;
  --geist-selection: var(--geist-cyan-light);

  --accents-0: #fff;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --accents-9: #000;

  --geist-link-color: var(--geist-success);
  --geist-link-color-light: var(--geist-success-light);
  --geist-marketing-gray: #fafbfc;
  --geist-code: var(--geist-highlight-purple);
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0, 0%, 100%, 0);

  --shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-extra-small: 0px 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 30px 60px rgba(0, 0, 0, 0.12);
  --shadow-large: rgba(0, 0, 0, 0.12) 0px 30px 60px 0px;
}
